<!--
File Name - about.ejs
Student Name - Ronak Barochia
Student ID - 301239977
-->

<% if (title == "About") { %>
    <div class="container-fluid-md">
      <div class="container"> 
        <div class="row">
          <div class="col-md-12 about-text"><h1><P>Ronak Barochia</P></h1></div>
        </div>
        
        <div class="row">
          <div class="col-md-6 "><img src="/images/ronakbarochia.jpeg" style="width: 400px; border-radius: 5px;"></div>
          <div class="col-md-6 about-para" style="color:#dbdbdb;"><p> 
            I have completed my bachelor's degree in computer engineering from <B>Vadodara institute and technology, India.</B> 
            I like to play games(Counter Strike, Far Cry and many other) and cooking.
            I'm the kind of guy who loves to spend time alone.
            I also like to learn different skills.</p>
            <p style="margin-top: 40px; font-size: large;" >
              <a href="https://drive.google.com/file/d/1n_kn4lYz-gj4yXMOLrJxS_JEvhs9pkvF/view" target="blank">My Resume</a></p>
          </div>
        </div>
        
      </div>
  
    </div>
    
  <%} else { %>
    
  <% } %>
  