<!--
File Name - contact.ejs
Student Name - Ronak Barochia
Student ID - 301239977
-->

    
<% if (title == "Contact Me") { %>
        
    <div class="container-contact" >
      <div class="row"> 
        <div class="col-12"  >
            <p><h2  style=" text-align: center; margin-top: 20px;color: #dbdbdb;"><b>Contact Us</b></h2></p>
        </div>
      </div>
      <div class="row" >
        <div class="col-6" style=" margin-left: 40%;">
          <img src="/images/contact.jpeg"  style="width:400px;">
          <div class="contact-icon" style="color: #dbdbdb;"> 
            <p><i class="fa fa-map-marker fa-2x"></i><label >M1H 2J9 Scarborough, 
              <br>Toronto, Canada.</label><i class="fa fa-mobile fa-2x" style="margin-left: 105px;"></i><label style="margin-left: 12px;">+1 4379874255</label></p>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-body contact-panel" style=" margin-left: 35%;">
            <p><a href="mailto:ronakbarochia@gmail.com" target="blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </a><a href="https://www.linkedin.com/in/ronakbarochia/" target="blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/ronak21/" target="blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
          </div>
        </div>
      </div>
    </div>
    
        <%} else { %>
            
        <% } %>
        