<!--
File Name - home.ejs
Student Name - Ronak Barochia
Student ID - 301239977
-->

<% if (title == "Home") { %>
    <div class="img" > 
    </div> 
    <div class="home-text"> 
      <r><p>Welcome To My <%= title %> Page</p></r>
      <span><p> Personal Portfolio Website...</p></span>
    </div>
    
    <div>
      <button type="button" class="btn btn-dark button" onclick="location.href='/about'" style="margin-left: 50%;">Click Me</button>
    </div>
    
    <%} else { %>
      
    <% } %>