<!--
File Name - projects.ejs
Student Name - Ronak Barochia
Student ID - 301239977
-->

<% if (title == "Projects") { %>
    <div class="container-fluid1" >
      
        <div class="row" >
          <div class="col-6" >
            <p><h3 style="margin-left: 50px ;margin-bottom: -5px;font-family: Roboto, sans-serif !important;">
              <B>Hotel Management Application</B></h3></p>
            <div class="project-text-head" style="margin-left: 50px;"><p>
              This project is based on simple room and table booking in hotel. We develop this project using Android studio and some other applications.
              This project include all basic facilities which are needed to run hotels like booking, billing, payment and many others.
              </p></div></div>
            
         
        
        <div class="row" style="margin-top: 50px;">
          <div class="col-6">
            <p><h3  style="margin-left: 50px;font-family: Roboto, sans-serif !important;">
              <b>Voice Control application</b></h3>
              <div class="project-text-head" style="margin-left: 50px;">
            <p>
              This application was created with Android Studio. This application work like voice command system.
              We have to give particular command to run particular operation. Using that we also save over time and efforts.
              This was a collaborative effort. 
               
        </p></p></div>
        </div></div>

        
        <div class="row" style="margin-top: 50px;">
          <div class="col-6">
            <p><h3  style="margin-left: 50px;font-family: Roboto, sans-serif !important;">
              <b>Others</b></h3>
              <div class="project-text-head" style="margin-left: 50px;">
            <p>
              I also work in so many other projects. Which are based on Internet Of Things (IOT). 
              In addition to that, I also develop some application for my business and so many other things.
               
        </p></p></div>
        </div></div>

        <p></p>
        
        
          
         
        
     
  
    </div>
    <%} else { %>
    
  <% } %>
  